.categoriaEstilos{
    padding: 40px;
    background: #78A8F0 fixed no-repeat 50% 50%;
    background-image: url(../imagenes/krystal-black-V5OEpF12pzw-unsplash.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    .estilos{
        .tarjeta{
            display: flex;
            flex-direction: row;
            justify-content: center; 
            .tarjetasCard{
                background-color: $colorFondo;
                width: 500px;
                color: $blanco;
               border: 10px solid $colorFondo;
                font-size: 10px;
                img{
                    height: 80%;
                }
            }
        }
    }
}