.categoriaEstilos{
    padding: 40px;
    background: #78A8F0 fixed no-repeat 50% 50%;
    background-size: cover;
    width: 100%;
    background-image: url(../imagenes/krystal-black-V5OEpF12pzw-unsplash.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    .estilos{
        .tarjeta{
            display: flex;
            flex-direction: row;
            justify-content: center;
           
            .tarjetasCard{
                background-color: $colorFondo;
                padding: 20px;
                color: $blanco;
                font-size: 18px;
                width: 300px;
                img{
                    height: 200px;
                }
            }
        }
    }
}