.servicios{
    background-color: $colorFondo;
    height: 450px;
    .serviciosTitulo{
        text-align: center;
        padding-top: 100px;
        padding-bottom: 35px;
        color: $blanco;
        letter-spacing: 2px;
        
    }
    .servicioContenedor{
        display: flex;
        justify-content:center;
        .servicioIndi{
            width: 210px;
            align-items: center;
            text-align: center;
            padding-bottom: 90px;
            color: $detalles;
            .divTexto{
                .texto{
                    color: $blanco;
                    padding-top: 15px;
                }
                .subTexto{
                    color: $colorToque;
                }
            }
        }
    }
}