.servicios{
    background-color: $colorFondo;
    padding: 80px;
    .serviciosTitulo{
        text-align: center;
        padding: 40px;
        color: $blanco;
        letter-spacing: 2px;
    }
    .servicioContenedor{
        display: flex;
        justify-content:center;
        .servicioIndi{
            width: 250px;
            align-items: center;
            text-align: center;
            color: $detalles;
            .divTexto{
                .texto{
                    color: $blanco;
                    padding-top: 15px;
                }
                .subTexto{
                    color: $colorToque;
                }
            }
        }
    }
}